<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.kkfnui.passcode</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>AAD52E93-BC73-4BEC-ADCA-A7A08596DA2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2602C12-D0F2-4DA4-A97B-72FB3633D0F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2602C12-D0F2-4DA4-A97B-72FB3633D0F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83543207-2F18-4F05-8DDF-4CC25AF245BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kkfnui</string>
	<key>description</key>
	<string>Get dynamic passcode from jump server.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PassCode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AAD52E93-BC73-4BEC-ADCA-A7A08596DA2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait, getting passcode</string>
				<key>script</key>
				<string>import passcode

passcode.set_user("USER@xunlei.com")
passcode.set_host("pop3.xunlei.com")
passcode.set_password("PASSWORD")

print(passcode.execute())</string>
				<key>title</key>
				<string>Passcode</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2602C12-D0F2-4DA4-A97B-72FB3633D0F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>83543207-2F18-4F05-8DDF-4CC25AF245BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>83543207-2F18-4F05-8DDF-4CC25AF245BD</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>AAD52E93-BC73-4BEC-ADCA-A7A08596DA2F</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E2602C12-D0F2-4DA4-A97B-72FB3633D0F4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/kkfnui</string>
</dict>
</plist>
